In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data = pd.read_csv('/content/drive/MyDrive/datasets/credit_card_default.csv')

In [4]:
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

#Checking missing values

In [5]:
data.isna().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_1                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

No missing values found

#Checking target column data count

In [6]:
data['default payment next month'].value_counts()

default payment next month
0    23364
1     6636
Name: count, dtype: int64

In [7]:
data.drop('ID',axis=1,inplace = True)

#Renaming target column

In [10]:
data['nextpayment'] = data ['default payment next month']

#KNN

In [17]:
x = data.drop(columns=['default payment next month'])
y = data['default payment next month']

In [18]:
x

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000,2,2,1,24,2,2,-1,-1,-2,...,689,0,0,0,0,689,0,0,0,0
1,120000,2,2,2,26,-1,2,0,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
2,90000,2,2,2,34,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
3,50000,2,2,1,37,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
4,50000,1,2,1,57,-1,0,-1,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,1,3,1,39,0,0,0,0,0,...,208365,88004,31237,15980,8500,20000,5003,3047,5000,1000
29996,150000,1,3,2,43,-1,-1,-1,-1,0,...,3502,8979,5190,0,1837,3526,8998,129,0,0
29997,30000,1,2,2,37,4,3,2,-1,0,...,2758,20878,20582,19357,0,0,22000,4200,2000,3100
29998,80000,1,3,1,41,1,-1,0,0,0,...,76304,52774,11855,48944,85900,3409,1178,1926,52964,1804
29999,50000,1,2,1,46,0,0,0,0,0,...,49764,36535,32428,15313,2078,1800,1430,1000,1000,1000

In [19]:
y

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default payment next month, Length: 30000, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3, random_state = 42)

#Scaling

In [21]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [22]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier, AdaBoostClassifier
import xgboost as xgb

#Setting up classifiers

In [23]:
knn_classifier = KNeighborsClassifier()
svm_classifier = SVC()
gb_classifier = GradientBoostingClassifier()
ada_classifier = AdaBoostClassifier()
xgb_classifier = xgb.XGBClassifier()

#Training classifiers

In [24]:
knn_classifier.fit(x_train_scaled, y_train)
svm_classifier.fit(x_train_scaled, y_train)
gb_classifier.fit(x_train_scaled, y_train)
ada_classifier.fit(x_train_scaled, y_train)
xgb_classifier.fit(x_train_scaled, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

#Making predictions

In [25]:
knn_preds = knn_classifier.predict(x_test_scaled)
svm_preds = svm_classifier.predict(x_test_scaled)
gb_preds = gb_classifier.predict(x_test_scaled)
ada_preds = ada_classifier.predict(x_test_scaled)
xgb_preds = xgb_classifier.predict(x_test_scaled)

In [26]:
from sklearn.metrics import accuracy_score

#Checking performance

In [27]:
knn_accuracy = accuracy_score(y_test, knn_preds)
svm_accuracy = accuracy_score(y_test, svm_preds)
gb_accuracy = accuracy_score(y_test, gb_preds)
ada_accuracy = accuracy_score(y_test, ada_preds)
xgb_accuracy = accuracy_score(y_test, xgb_preds)

#Checking accuracy

In [29]:
print("k-Nearest Neighbors Accuracy:", knn_accuracy)

print("Support Vector Machine Accuracy:", svm_accuracy)

print("Gradient Boosting Accuracy:", gb_accuracy)

print("AdaBoost Accuracy:", ada_accuracy)

print("XGBoost Accuracy:", xgb_accuracy)

k-Nearest Neighbors Accuracy: 0.7934444444444444
Support Vector Machine Accuracy: 0.8183333333333334
Gradient Boosting Accuracy: 0.8203333333333334
AdaBoost Accuracy: 0.8173333333333334
XGBoost Accuracy: 0.812

#Tuning

In [30]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

In [31]:
kf = KFold(n_splits = 10)

In [32]:
for train_index, test_index in kf.split(x,y):
  print('Training Index',train_index)
  print('Test Index',test_index)

Training Index [ 3000  3001  3002 ... 29997 29998 29999]
Test Index [   0    1    2 ... 2997 2998 2999]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [3000 3001 3002 ... 5997 5998 5999]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [6000 6001 6002 ... 8997 8998 8999]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [ 9000  9001  9002 ... 11997 11998 11999]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [12000 12001 12002 ... 14997 14998 14999]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [15000 15001 15002 ... 17997 17998 17999]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [18000 18001 18002 ... 20997 20998 20999]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [21000 21001 21002 ... 23997 23998 23999]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [24000 24001 24002 ... 26997 26998 26999]
Training Index [    0     1     2 ... 26997 26998 26999]
Test Index [27000 27001 27002 ... 29997 29998 29999]

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

# Increase max_iter and scale the data

In [34]:
model = LogisticRegression(max_iter=500)
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

#By default it returns the accuracy score

In [35]:
score = cross_val_score(model,x,y,cv = kf)
print("Cross Validation Scores are{}".format(score))

Cross Validation Scores are[0.777      0.785      0.76433333 0.77566667 0.772      0.74233333
 0.78466667 0.80866667 0.799      0.779     ]

#to get average

In [36]:
print("Average Cross Validation Scores is {}".format(score.mean()))

Average Cross Validation Scores is 0.7787666666666667

#stratified k fold

In [50]:
from sklearn.model_selection import StratifiedKFold
skfold_validator = StratifiedKFold(n_splits = 10)

In [38]:
for train_index, test_index in skfold_validator.split(x,y):
  print('Training Index',train_index)
  print('Test Index',test_index)

Training Index [ 2993  2995  2996 ... 29997 29998 29999]
Test Index [   0    1    2 ... 3001 3004 3005]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [2993 2995 2996 ... 6044 6045 6047]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [5983 5984 5985 ... 9030 9032 9033]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [ 8883  8886  8888 ... 12047 12048 12049]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [11794 11796 11802 ... 15067 15068 15069]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [14766 14770 14778 ... 18217 18218 18220]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [17316 17319 17323 ... 21194 21196 21197]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [20429 20437 20439 ... 24071 24072 24073]
Training Index [    0     1     2 ... 29997 29998 29999]
Test Index [23691 23696 23704 ... 26997 26998 26999]
Training Index [    0     1     2 ... 26997 26998 26999]
Test Index [27000 27001 27002 ... 29997 29998 29999]

In [39]:
skcv_result = cross_val_score(model,x,y,cv = skfold_validator)
skcv_result

array([0.77833333, 0.77866667, 0.77866667, 0.77866667, 0.77866667,
       0.77866667, 0.779     , 0.779     , 0.779     , 0.779     ])

In [40]:
print("Average Cross Validation Scores is {}".format(score.mean())) #average

Average Cross Validation Scores is 0.7787666666666667

#tuning with decision tree

In [51]:
from sklearn import tree

 #performs cross-validation with different values

In [53]:

 max_depth = [1,2,3,4,5,6,7,8,9,10]

for val in max_depth:
  score = cross_val_score(tree.DecisionTreeClassifier(max_depth = val), x, y, cv = kf, scoring = 'accuracy')
  print(f'Average score{val}): {"{:.3f}".format(score.mean())}')

Average score1): 0.820
Average score2): 0.819
Average score3): 0.820
Average score4): 0.821
Average score5): 0.820
Average score6): 0.818
Average score7): 0.816
Average score8): 0.814
Average score9): 0.812
Average score10): 0.808

# Define a  hyperparameter grid

In [52]:
parameters ={'n_estimators': [100, 200],
    'max_depth': [10, 2],
    'criterion': ['gini','entropy']
}

In [46]:
from sklearn.model_selection import GridSearchCV

# Create the grid search object

In [47]:
from sklearn.ensemble import RandomForestClassifier
grid_search = GridSearchCV(
    RandomForestClassifier(),
    parameters,
    cv = 5,# 5-fold cross-validation
    scoring = 'accuracy',# Evaluation metric
    n_jobs = -1
)

#fit the grid search

In [48]:
grid_result = grid_search.fit(x_train,y_train)

In [49]:
# Get the best parameters and best score
print('Best Params: ', grid_result.best_params_)
print('Best Score: ', grid_result.best_score_*100)

Best Params:  {'criterion': 'entropy', 'max_depth': 10, 'n_estimators': 200}
Best Score:  81.97142857142858